:root {
    --clr-yellow: #FFF130;
    --clr-gray: rgb(39, 39, 39);

    --btn-transition: all 250ms ease-in-out 0s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* BASIC BUTTON STYLE =============================================== */

.btn {
    padding: .3rem .7rem;
    background: var(--clr-yellow);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 2px solid var(--clr-yellow);
    transition: var(--btn-transition);
    cursor: pointer;
}

/* HEADER ================================================= */

header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    position: fixed;
    width: 100%;
}

header.active {
    background-color: var(--clr-gray);
    transition: all 300ms ease-in-out;
}

.logo {
    font-family: 'Norican';
    font-weight: lighter;
    font-size: 1.8rem;
    white-space: nowrap;
}

/* NAV =================================================== */

.desktop-nav {
    display: flex;
    align-items: center;
}

.desktop-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.desktop-nav li {
    padding: 0 1.2rem;
}

.desktop-nav a {
    text-decoration: none;
    color: white;
    font-size: .85rem;
    font-weight: 500;
    transition: var(--btn-transition);
    display: block;
    white-space: nowrap;
}

.nav-btn {
    margin: 0 1.2rem;
    transition: var(--btn-transition);
    cursor: pointer;
}

.nav-btn a {
    color: black;
    font-size: .85rem;
    font-weight: 500;
}

.desktop-nav i {
    margin: 0 1.2rem;
    font-size: 1.05rem;
    transition: var(--btn-transition);
}

/* HOVER EFFECTS */

.desktop-nav li a:hover {
    color: var(--clr-yellow);
}

.nav-btn:hover {
    background-color: white;
    border: 2px solid white;
}

.desktop-nav i:hover {
    color: var(--clr-yellow);
}

/* MOBILE-NAV ============================================== */

.hamburger-menu {
    width: 20px;
    height: 24px;
    position: fixed;
    top: 20px;
    right: 3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mobile-nav i {
    width: 25px;
    height: 30px;
    position: fixed;
    top: 24px;
    right: 5rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 800ms;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-6px, 5.5px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-6px, -5.5px);
}

.mobile-nav {
    width: 300px;
    height: 100vh;
    background-color: var(--clr-gray);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 800ms cubic-bezier(1, 0, 0, 1);
    box-shadow: 0px 0px 5px black;
}

.change {
    right: 0;
}

.mobile-nav ul {
    text-align: right;
}

.mobile-nav li {
    list-style: none;
    margin: 1.5rem;
}

.mobile-nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.mobile-nav-btn {
    margin-right: 1.5rem;
}

.mobile-nav-btn a {
    color: var(--clr-gray);
}

.mobile-nav-btn:hover {
    background-color: white;
    border: 2px solid white;
}


/* LANDING PAGE ================================================= */

.landing-page {
    background-image: url(./Images/db-rack-dark.png);
    background-color: var(--clr-gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.landing-page-text {
    padding: 16rem 5rem;
    color: white;
    line-height: 1.75rem;
}

.landing-page-text h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

.landing-page-text button {
    margin-top: 1.5rem;
}

.landing-page-btn {
    margin-right: 1.5rem;
}

.landing-page-border-btn {
    color: white;
    background: transparent;
}

/* HOVER EFFECTS */

.landing-page-btn:hover {
    background: transparent;
    color: white;
}

.landing-page-border-btn:hover {
    background: var(--clr-yellow);
    color: black;
}

/* MY PLANS ================================================= */

.my-plans {
    background-color: var(--clr-gray);
    color: white;
}

.my-plans h3 {
    text-align: center;
    padding: 3rem 0;
    font-size: 1.9rem;
}

.my-plans img {
    width: 18rem;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all 150ms ease-in-out 0s;
}

.plan-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.plan {
    text-align: center;
}

.plan h5 {
    font-size: 1rem;
}

.plan p {
    margin-bottom: 1.5rem;
    font-size: .9rem;
}

.plan button {
    margin: 0 .75rem;
    cursor: pointer;
    transition: var(--btn-transition);
}

.plan-border-btn {
    background: transparent;
    color: white;
}

/* HOVER EFFECTS */

.my-plans img:hover {
    border: 2px solid white;
}

.plan-btn:hover {
    background: transparent;
    color: white;
}

.plan-border-btn:hover {
    background: var(--clr-yellow);
    color: black;
}

/* ONLINE COACHING ================================================= */

.online-coaching {
    background-color: var(--clr-yellow);
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
}

.online-coaching img {
    height: 18rem;
}

.online-coaching-text {
    padding: 3rem 0;
}

.online-coaching-text h3 {
    padding-bottom: 2rem;
    font-size: 1.9rem;
}

.online-coaching-text p {
    line-height: 1.75rem;
}

.online-coaching-btn {
    background-color: var(--clr-gray);
    color: white;
    border: 2px solid var(--clr-gray);
    margin-top: 1.5rem;
}

/* HOVER EFFECTS */

.online-coaching-btn:hover {
    background-color: transparent;
    color: var(--clr-gray);
}

/* ABOUT ME ================================================= */

.about-me {
    background-color: var(--clr-gray);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem;
}

.about-me img {
    height: 22rem;
    border: 4px solid var(--clr-yellow);
}

.about-me-text {
    text-align: right;
    padding: 0 2rem;
}

.about-me h3 {
    padding-bottom: 2rem;
    font-size: 1.9rem;
}

.about-me h5 {
    padding: .75rem 0;
    font-size: 1.25rem;
}

/* CONTACT ME ================================================= */

.contact {
    background-color: var(--clr-yellow);
    text-align: center;
    padding: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact h3 {
    padding-bottom: 3rem;
    font-size: 1.9rem;
}

.contact input {
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
    outline: none;
}

.contact form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

#message {
    padding-bottom: 10rem;
}

.submit-btn {
    background-color: var(--clr-gray);
    color: white;
    border: 2px solid var(--clr-gray);
    width: 7rem;
    margin-left: auto;
    margin-right: auto;
}

/* HOVER EFFECTS */

.submit-btn:hover {
    background-color: transparent;
    color: var(--clr-gray);
}

/* FOOTER ================================================= */

footer {
    background-color: var(--clr-gray);
    color: white;
}

footer img {
    width: 100vw;
}

.footer-text-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6rem;
}

footer h5 {
    font-size: 1.1rem;
    padding-bottom: 0.75rem;
}

footer ul {
    list-style: none;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
}

.footer-socials i {
    font-size: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 100px;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-youtube {
    background: red;
}

.fa-facebook {
    background: rgb(66, 69, 207);
}

.copyright-text {
    background-color: var(--clr-gray);
    text-align: center;
    padding: 1rem;
    color: rgb(145, 145, 145);
    font-size: .75rem;
}

/* RE-USABLE CLASSES ============================================ */

.display-none {
    display: none;
}


